<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="cleargo_saviorofimportdog_storelist" title="Convert CSV" module="Cleargo_SaviorOfImportDog" sortOrder="10" action="cleargocsv/index/index" resource="Cleargo_SaviorOfImportDog::store" />
    </menu>
</config>